<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>mg.housekeeping.nightly</string>
    <key>ProgramArguments</key>
    <array>
      <string>zsh</string>
      <string>/Users/matthieugicquel/housekeeping/dotfiles/cron/nightly.zsh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>00</integer>
      <key>Hour</key>
      <integer>04</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/housekeeping.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/housekeeping.log</string>
    <key>RunAtLoad</key>
    <false />
  </dict>
</plist>
